body{

background:#0f172a;
color:white;
font-family:Arial;
text-align:center;

}

.videos{

display:flex;
gap:20px;
justify-content:center;
margin-top:30px;

}

video{

width:400px;
background:black;
border-radius:10px;

}

button{

background:#3b82f6;
border:none;
padding:10px 20px;
margin:10px;
border-radius:6px;
color:white;
cursor:pointer;

}