body{
  margin:0;
  font-family:Inter,Arial;
  background:#0b1120;
  color:white;
  text-align:center;
}

.main-container{
  display:flex;
  justify-content:center;
  align-items:flex-start;
  gap:20px;
  margin-top:20px;
  padding:10px;
}

.video-section{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
}

video{
  width:400px;
  border-radius:14px;
  background:black;
  box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

.controls{
  margin-top:10px;
}

button{
  background:#6366f1;
  border:none;
  padding:10px 20px;
  border-radius:10px;
  cursor:pointer;
  color:white;
  font-size:16px;
  margin:3px;
}

.chat-section{
  display:flex;
  flex-direction:column;
  width:300px;
  background:#1e293b;
  border-radius:10px;
  padding:10px;
}

#chatBox{
  height:430px;
  overflow-y:auto;
  margin-bottom:10px;
  border-radius:6px;
  background:#0f172a;
  padding:10px;
}

#chatInput{
  padding:10px;
  border-radius:6px;
  border:none;
}